@import 'tailwindcss';

@theme {
    --font-valorant: "Valorant", sans-serif;
    --color-tntngreen: rgb(170, 255, 0);
}

@font-face {
    font-family: 'Valorant';
    src: url('./assets/fonts/VALORANT-1053497f00bf60348777f5d86fe74569.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
